<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../scripts/style.css">
    <title>Footy Tailor</title>
</head>

<body>
    <header class="header"></header>
    <main class = main>
        <h2>Advice on use of stats</h2>
        <ul>
            <li>
                <h4>Set Pieces</h4>
                <ul>
                    <li>
                        <p>The actions that occur during a corner or free kick are essential and often lead to the best scoring
                            opportunities. Nailing your execution on these set pieces is crucial to having a consistent and
                            dangerous attack and a strong, resolute defense.
                            Offensively, make sure all your players are in the correct position and have a full understanding of
                            where the ball should arrive. Analyzing the video of your corners can ensure you have the right players
                            taking and receiving the kick.
                            You can find and patch up holes in your defense against opponent set pieces. When goals are scored in
                            these moments, go back and look at exactly where your defense broke down. You can then sit down with
                            your backline and make corrections to avoid the same mistakes again.</p>
                    </li>
                </ul>
            </li>
            <li>
                <h4>Goals and Shots on target</h4>
                <ul>
                    <li>
                        <p>It’s hard to win if you can’t consistently put the ball in the net. You should review your goals to see
                            which set pieces were successful, which players thrive in certain situations and who possesses the
                            composure to finish in front of goal.
                            But the shots that didn’t find the back of the net hold an even greater importance. Watch this playlist
                            to see where play in the final third broke down. Did the player simply miss a chance? Was someone out
                            of position? Was the timing of a run too early or too late?</p>
                    </li>
                </ul>
            </li>
            <li>
                <h4>Goals conceded</h4>
                <ul>
                    <li>
                        <p>The perfect way to shore up your defense is to self-scout. Use your Goals Conceded playlist to quickly
                            watch each goal an opponent scored. Look for reasons why a breakdown occurred — did your keeper make a
                            mistake? Was someone out of position? Or did you have the wrong tactics based on how your opponent was
                            set up?
                            If you examine your team’s failures, you’ll be able to help correct mistakes and decrease the odds of
                            them happening again.</p>
                    </li>
                </ul>
            </li>
            <li>
                <h4>Other advice</h4>
                <ul>
                    <li>
                        <p>These stats are all great on their own, but the key is their connection to <strong>video</strong>. The statistics allow
                        playlists to be assembled instantly, just waiting to dispense valuable insights.</p>
                    </li>
                </ul>
            </li>
            <li>
                <h5>source</h5>
                <ul>
                    <li>
                        <a href="https://www.hudl.com/blog/3-stats-for-soccer-coaches-to-rely-on-when-self-scouting">Hudl app</a> - we must check out this app
                    </li>
                </ul>
            </li>
        </ul>





        <canvas id="myChart1"></canvas>
    </main>

    <footer class="footer"></footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="../scripts/charts.js"></script>
</body>

</html>