<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../scripts/style.css">

</head>
<header class="header"></header>
<main class=main>
    <h2>Other apps and sources</h2>

    <li>
        <a href="https://www.hudl.com/">Hudl</a>
        <ul>
            <li>combine video with stats. The coach is meant to video</li>
            <li>Coach can collect stats, or can send the video to them to do it</li>
            <li>includes a messaging feature for team</li>
            <li>video available on the cloud to entire team</li>
        </ul>
    </li>
    <li>
        <a href="https://ihsaa-static.s3.amazonaws.com/soccer/soccerstatmanual.pdf">SOCCER STATISTICS GUIDE</a>
    </li>
    <li>
        <a href="https://www.optasports.com/">Opta</a>
    </li>
</main>
<footer class="footer page-footer"></footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script src="../scripts/charts.js"></script>
</body>

</html>