

html,
body 
{
    height: 100%;
    color: #3F4C6B;
    position: relative;
}

.main
{
    height: 100%;
}

.header
{
    height: 50px;
    background-color: #6BBA70;
}




.sidebar
{
    background-color: #3F4C6B;
}


.img-holder
{
    width: 100%;
}



/* charts */

.chart-container
{
   position: relative; 
   /* height:15vh;  */
   width:30vw;
   border: 1px solid black;
}


.chart-wrapper
{
    
}




#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
